<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
<h1>Editing {{.Title}}</h1>

<p>[<a href="/view/{{.Title}}">back to view</a>]</p>
<form action="/save/{{.Title}}" method="POST">
    <div><textarea name="body" rows="40" cols="120">{{printf "%s" .Body}}</textarea></div>
    <div><input type="submit" value="Save"></div>
</form>
</body>
</html>