<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>diagrams</title>
</head>
<body>
<h1>Diagrams</h1>
<table>
    <tr>
        <th>Title</th>
        <th></th>
    </tr>
    {{range .Diagrams}}
        <tr>
            <td>{{.Title}}</td>
            <td><a href="/view/{{.Title}}">view</a> <a href="/edit/{{.Title}}">edit</a></td>
        </tr>
    {{end}}
</table>
<h2>Create new diagram</h2>
<form action="/create" method="post">
    <div>Name: <input name="title"> <input type="submit" value="Create"></div>
</form>
</body>
</html>