<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
<h1>{{.Title}}</h1>

<p>[<a href="/">back to list</a>]</p>
<p>[<a href="/edit/{{.Title}}">edit</a>]</p>

<img src="/static/{{.Title}}.png">
<br><br>
</body>
</html>